.resour_first.active {
    .serve_con_right_con_effect {
        .effect_only {
            li {
                animation: todown 0.5s linear;
            }
        }
    }
    .serve_con_right_con_depth {
        .depth_only {
            li {
                animation: todown 1s linear;
            }
        }
    }
    .serve_con_right_con_kind {
        .purpose_list {
            li {
                animation: todown 1s linear;
            }
        }
    }
    .serve_con_right_con_ui {
        .ui_only {
            li {
                animation: todown 1s linear;
            }
        }
    }
    .serve_con_right_con_technology {
        .advantage_con_right {
            li {
                animation: toup_down 1s linear;
            }
        }
    }
}

.serve_con_right_content {
    padding-top: 0.35rem;
    overflow: hidden;
    // background-color:red;
    // padding-left:0.3rem;
    // padding-right:0.3rem;
    .serve_common_title_common {
        margin-top: 0.9rem;
        &.margin_none {
            margin: 0;
        }
        .serve_common_title {
            width: 100%;
            height: 0.53rem;
            margin-bottom: 0.42rem;
            img {
                display: block;
                margin: 0 auto;
                width: 3.23rem;
                height: 100%;
            }
        }
    }
    .serve_con_right_con_type {
        width: 100%;
        height: 3rem;
        overflow: hidden;
        .classify_only {
            padding-left: 0.5rem;
            padding-right: 0.3rem;
            font-size: 0;
            li {
                width: 0.41rem;
                height: 0.8rem;
                text-align: center;
                display: inline-block;
                margin-left: 1.08rem;
                margin-bottom: 0.4rem;
                &.width_an {
                    p {
                        margin-left: -0.1rem;
                    }
                }
                &.yellow {
                    color: #f0dd4d;
                }
                &.green_black {
                    color: #98ac54;
                }
                &.green_op {
                    color: #c4d567;
                }
                &.pink_op {
                    color: #e9cbcc;
                }
                &.purple {
                    color: #a55d9d;
                }
                &.orgin {
                    color: #e6b15e;
                }
                &.bule {
                    color: #8ee2df;
                }
                &.bule_black {
                    color: #5e8c7d
                }
                &.pink {
                    color: #ff99b6;
                }
                &.purple_op {
                    color: #f5c3c1;
                }
                &.none_margin {
                    margin: 0;
                }
                i {
                    display: inline-block;
                    width: 100%;
                    height: 0.4rem;
                    font-size: 0.4rem;
                    color: inherit;
                }
                p {
                    color: inherit;
                    margin-top: 0.05rem;
                    font-size: 0.2rem;
                    overflow: visible;
                }
            }
        }
    }
    .serve_con_right_con_made {
        .serve_con_made_title {
            img {
                width: 2.83rem;
            }
        }
        .module_only {
            width: 100%;
            font-size: 0;
            padding-left: 0.3rem;
            li {
                width: 0.58rem;
                margin-bottom: 0.3rem;
                height: 0.98rem;
                border: 1px solid white;
                display: inline-block;
                background-color: transparent;
                text-align: center;
                margin-left: 0.65rem;
                color: white;
                // border-radius: 10px;
                // padding-top: 0.1rem;
                &:hover {
                    i {
                        border-color: #298fdf;
                        color: #298fdf;
                    }
                }
                &.margin_none {
                    margin: 0;
                }
                i {
                    display: inline-block;
                    width: 0.58rem;
                    height: 0.58rem;
                    line-height: 0.58rem;
                    border-radius: 50%;
                    border: 1px solid #d9d9d9;
                    color: #333333;
                    font-size: 0.3rem;
                }
                p {
                    color: #333333;
                    margin-top: 0.2rem;
                    overflow: visible;
                    font-size: 0.18rem;
                    user-select: none;
                    &.margin {
                        margin-left: -0.1rem;
                    }
                }
            }
        }
    }
    .serve_con_right_con_merit {
        .serve_con_merit_title {
            img {
                width: 2.83rem;
            }
        }
        .merit_only {
            width: 100%;
            height: 1.3rem;
            font-size: 0;
            padding-left: 0.25rem;
            &.active {
                li {
                    display: inline-block;
                    animation: todown 1s linear;
                }
            }
            li {
                width: 1.28rem;
                height: 100%;
                text-align: center;
                margin-left: 1.54rem;
                &.margin {
                    margin: 0;
                }
                display:none;
                &:hover {
                    p {
                        display: none;
                    }
                    .merit_font {
                        display: block;
                    }
                }
                img {
                    width: 0.69rem;
                    height: 0.69rem;
                }
                p {
                    font-size: 0.18rem;
                    color: #333333;
                    height: 0.62rem;
                    line-height: 0.8rem;
                }
                .merit_font {
                    // margin-top:0.25rem;
                    display: none;
                    height: 0.62rem;
                    padding-top: 0.3rem;
                    // line-height:0.62rem;
                    p {
                        line-height: 1;
                        display: block;
                        height: auto;
                        margin-top: 0;
                        font-size: 0.16rem;
                        color: #7b7b7b;
                    }
                }
            }
        }
    }
    .serve_con_right_con_satisfy {
        .serve_con_satisfy_title {
            img {
                width: 2.17rem;
            }
        }
        .satis_only {
            width: 100%;
            // height: 2.7rem;
            padding-left: 0.9rem;
            font-size: 0;
            overflow: hidden;
            &.active {
                li {
                    display: inline-block;
                    animation: toup_down 1s linear;
                }
            }
            // margin-top: 0.5rem;
            li {
                width: 2.2rem;
                height: 100%;
                margin-left: 1.15rem;
                display: none;
                margin-bottom: 0.4rem;
                text-align: center;
                &.margin_none {
                    margin: 0;
                }
                .satis_content {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                    }
                    .satis_font {
                        margin-top: 0.38rem;
                        font-size: 0.16rem;
                        color: rgba(1, 1, 1, 0.7);
                        display: block;
                        span {
                            display: block;
                            margin-top: 0.1rem;
                        }
                    }
                    .xian {
                        width: 0.32rem;
                        height: 0.02rem;
                        background-color: rgba(8, 8, 8, 0.4);
                        display: block;
                        margin: 0 auto;
                        margin-top: 0.2rem;
                    }
                }
            }
        }
    }
    .serve_con_right_con_effect {
        .serve_con_effect_title {
            img {
                width: 3.23rem;
            }
        }
        .effect_only {
            width: 100%;
            padding-left: 0.94rem;
            overflow: hidden;
            li {
                width: 1rem;
                height: 0.96rem;
                margin-left: 1.3rem;
                text-align: center;
                display: inline-block;
                &.margin {
                    margin: 0;
                }
                img {
                    //    width:0.54rem;
                    height: 0.54rem;
                }
                p {
                    margin-top: 0.3rem;
                    font-size: 0.16rem;
                    color: #666666;
                }
            }
        }
    }
    .serve_con_right_con_depth {
        .serve_con_depth_title {
            img {
                width: 2.83rem;
            }
        }
        .depth_only {
            font-size: 0;
            li {
                width: 1.7rem;
                height: 1.45rem;
                display: inline-block;
                border: 1px solid #f5f5f5;
                overflow: hidden;
                margin-left: 0.18rem;
                &.margin {
                    margin: 0;
                }
                &:hover {
                    box-shadow: 0 0 2px rgba(80, 80, 80, 0.2);
                    padding: 0.2rem 0.1rem 0 0.14rem;
                    .depth_title {
                        display: none;
                    }
                    .depth_content {
                        display: inline-block;
                    }
                }
                .depth_content {
                    display: none;
                    width: 100%;
                    height: 100%;
                    p {
                        white-space: normal;
                        font-size: 0.14rem;
                        color: #333333;
                    }
                }
                .depth_title {
                    text-align: right;
                    background-size: 60%;
                    background-repeat: no-repeat;
                    background-position: 20% 70%;
                    width: 100%;
                    padding-right: 0.2rem;
                    height: 100%;
                    padding-top: 0.6rem;
                    padding-bottom: 0.2rem;
                    p {
                        margin-bottom: 0.2rem;
                        font-size: 0.24rem;
                        color: #000000;
                    }
                    span {
                        font-size: 0.14rem;
                        color: #999999;
                    }
                    &.one {
                        background-image: url(../../images/technology/01.png);
                    }
                    &.two {
                        background-image: url(../../images/technology/02.png)
                    }
                    &.three {
                        background-image: url(../../images/technology/03.png)
                    }
                    &.five {
                        background-image: url(../../images/technology/04.png)
                    }
                }
            }
        }
    }
    .serve_con_right_con_Intelligence {
        .serve_con_Intelligence_title {
            img {
                width: 2.84rem;
            }
        }
        .Intelligence_only {
            width: 100%;
            height: auto;
            font-size: 0;
            padding-left: 0.33rem;
            li {
                width: 1.08rem;
                height: 1.5rem;
                display: inline-block;
                margin-left: 0.77rem;
                text-align: center;
                &:hover {
                    img {
                        animation: rotate 0.5s linear;
                    }
                }
                &.margin {
                    margin: 0;
                }
                img {
                    width: 1.08rem;
                    height: 1.08rem;
                    margin-bottom: 0.23rem;
                }
                p {
                    font-size: 0.18rem;
                    color: #333333;
                    overflow: visible;
                }
            }
        }
    }
    .serve_con_right_con_technology {
        .serve_con_technology_title {
            img {
                width: 2.61rem;
            }
        }
        .advantage_con_right {
            padding-left: 0.55rem;
            overflow: hidden;
            li {
                width: 6.75rem;
                border-right: 3px solid #ffffff;
                background-color: white;
                height: 2.10rem;
                margin-bottom: 0.3rem;
                font-size: 0;
                padding: 0.28rem 0.4rem 0.32rem 0.5rem;
                &:hover {
                    box-shadow: 0 0 10px rgba(37, 177, 241, 0.3);
                    border-right: 3px solid #01a4ef;
                }
                img {
                    display: inline-block;
                    // width:1.08rem;
                    // height:1.27rem;
                    margin-top: 0.3rem;
                    &.first {
                        width: 0.99rem;
                        height: 1.43rem;
                    }
                    &.two {
                        width: 0.93rem;
                        height: 0.93rem;
                    }
                    &.three {
                        width: 1.08rem;
                        height: 0.95rem;
                    }
                    &.margin {
                        margin: 0;
                    }
                }
                .con_right_font {
                    float: right;
                    width: 4.41rem;
                    height: 1.5rem;
                    .con_right_font_title {
                        width: 100%;
                        height: 0.36rem;
                        margin-bottom: 0.1rem;
                        img {
                            width: 0.3rem;
                            height: 0.3rem;
                            margin: 0;
                        }
                        span {
                            vertical-align: top;
                            color: #000000;
                            font-size: 0.2rem;
                        }
                    }
                    .xian {
                        width: 100%;
                        height: 1px;
                        background-color: #2590c7;
                        position: relative;
                        margin-bottom: 0.2rem;
                        p {
                            position: absolute;
                            width: 20%;
                            height: 3px;
                            top: -1px;
                            background-color: #2590c7;
                        }
                    }
                    p {
                        font-size: 0.14rem;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        line-height: 1.5;
                        color: #999999;
                        white-space: normal;
                    }
                }
            }
        }
    }
    .serve_con_right_con_web {
        .serve_con_web_title {
            img {
                width: 2.05rem;
                height: 0.37rem;
            }
        }
        .pc_content_font {
            font-size: 0;
            padding-left: 0.5rem;
            overflow: hidden;
            &.active {
                li {
                    display: block;
                    animation: toup_down 0.5s linear;
                }
            }
            li {
                width: 100%;
                height: 1.17rem;
                margin-bottom: 0.66rem;
                font-size: 0;
                display: none;
                .pc_content_font_img {
                    width: 0.75rem;
                    height: 0.75rem;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .pc_content_font_font {
                    display: inline-block;
                    width: 5.4rem;
                    margin-left: 0.18rem;
                    vertical-align: top;
                    // float: right;
                    h5 {
                        font-size: 0.18rem;
                        color: #4192ed;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #999999;
                        white-space: normal;
                        line-height: 1.7;
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
    .serve_con_right_con_app {
        .serve_con_app_title {
            img {
                width: 2.55rem;
                height: 0.38rem;
            }
        }
        .app_content_font {
            padding-left: 0.5rem;
            overflow: hidden;
            &.active {
                li {
                    display: block;
                    animation: toup_down 0.5s linear;
                }
            }
            li {
                // float:right;
                width: 100%;
                height: 1.15rem;
                margin-bottom: 0.55rem;
                font-size: 0;
                display: none;
                text-align: right;
                .app_content_font_img {
                    width: 0.75rem;
                    height: 0.75rem;
                    float: left;
                    margin-left: 0.18rem;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .app_content_font_font {
                    display: inline-block;
                    width: 5.63rem;
                    float: left;
                    h5 {
                        font-size: 0.18rem;
                        color: #4192ed;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #999999;
                        white-space: normal;
                        margin-top: 0.01rem;
                        line-height: 1.5;
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
    .serve_con_right_con_backstage {
        .serve_con_backstage_title {
            img {
                width: 2.57rem;
                height: 0.53rem;
            }
        }
        .develop_img {
            width: 100%;
            // padding:0 0.68rem;
            margin-top: 0.3rem;
            img {
                width: 100%;
            }
        }
    }
    .serve_con_right_con_system {
        .serve_con_system_title {
            img {
                width: 3.23rem;
            }
        }
        .system_list {
            padding-left: 0.5rem;
            li {
                width: 100%;
                height: 1.1rem;
                margin-bottom: 0.2rem;
                img {
                    width: 0.4rem;
                    height: 0.4rem;
                    vertical-align: top;
                }
                .system_list_font {
                    margin-left: 0.05rem;
                    display: inline-block;
                    width: 5.76rem;
                    h5 {
                        font-size: 0.16rem;
                        color: #4192ed;
                        margin-bottom: 0.1rem;
                        &.color {
                            color: #ffbb42;
                        }
                    }
                    p {
                        font-size: 0.14rem;
                        color: #999999;
                        -webkit-line-clamp: 3;
                        white-space: normal;
                    }
                }
            }
        }
    }
    .serve_con_right_con_skill {
        .serve_con_skill_title {
            img {
                width: 3.24rem;
            }
        }
        .thinking_content {
            font-size: 0;
            li {
                width: 3.68rem;
                height: 0.7rem;
                display: inline-block;
                // margin-left: 0.2rem;
                margin-bottom: 0.86rem;
                font-size: 0;
                &.margin_none {
                    margin: 0;
                }
                .thinking_con_img {
                    width: 0.7rem;
                    height: 0.7rem;
                    display: inline-block;
                    background-color: rgba(65, 146, 237, 0.1);
                    text-align: center;
                    border-radius: 50%;
                    background-size: 90%;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.first {
                        background-image: url(../../images/technology/backstage/16.png);
                    }
                    &.two {
                        background-image: url(../../images/technology/backstage/18.png);
                    }
                    &.three {
                        background-image: url(../../images/technology/backstage/17.png);
                    }
                    &.firs {
                        background-image: url(../../images/technology/backstage/19.png);
                    }
                }
                .thinking_con_font {
                    width: 2.4rem;
                    height: 100%;
                    display: inline-block;
                    margin-left: 0.12rem;
                    // float: right;
                    h5 {
                        font-size: 0.16rem;
                        color: #333333;
                        margin-bottom: 0.1rem;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #7b7b7b;
                        white-space: normal;
                        display: block;
                    }
                }
            }
        }
    }
    .serve_con_right_con_plan {
        padding-top: 0.18rem;
        .serve_con_plan_title {
            margin-bottom: 0.6rem;
            img {
                width: 2.81rem;
            }
        }
        .advantage_content {
            padding: 0;
            font-size: 0;
            li {
                width: 3.68rem;
                display: inline-block;
                height: 1.12rem;
                margin-bottom: 0.37rem;
                padding-right: 0.18rem;
                // position: absolute;
                overflow: hidden;
                img {
                    width: 0.5rem;
                    height: 0.5rem;
                    // margin-bottom: 0.2rem;
                }
                .advantage_title {
                    font-size: 0.18rem;
                    margin-bottom: 0.22rem;
                    color: #fda902;
                    width: 2.02rem;
                    margin-left: 0.1rem;
                    vertical-align: top;
                    font-weight: bold;
                    display: inline-block;
                    &.plana {
                        color: #4192ED;
                    }
                    &.planb {
                        color: #A2D2E4;
                    }
                    &.planc {
                        color: #3ED8C7;
                    }
                    &.pland {
                        color: #E8716B;
                    }
                    &.plane {
                        color: #28D687;
                    }
                    p {
                        font-size: inherit;
                        color: inherit;
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
                .advantage_content_font {
                    font-size: 0.16rem;
                    color: #535353;
                    p {
                        // margin-top: 0.04rem;
                        font-size: inherit;
                        white-space: normal;
                        color: #535353;
                    }
                }
            }
        }
    }
    .serve_con_right_con_plan1 {
        .serve_con_plan1_title {
            img {
                width: 2.84rem;
            }
        }
        .thinking_content {
            font-size: 0;
            li {
                width: 3.68rem;
                height: 0.7rem;
                display: inline-block;
                margin-bottom: 0.4rem;
                font-size: 0;
                &:hover {
                    .thinking_con_img {
                        &.first {
                            background-image: url(../../images/technology/plan/08.png)
                        }
                        &.two {
                            background-image: url(../../images/technology/plan/03.png);
                        }
                        &.three {
                            background-image: url(../../images/technology/plan/04.png);
                        }
                        &.firs {
                            background-image: url(../../images/technology/plan/02.png);
                        }
                    }
                }
                &.margin_none {
                    margin: 0;
                }
                .thinking_con_img {
                    width: 0.7rem;
                    height: 0.7rem;
                    display: inline-block;
                    background-color: rgba(65, 146, 237, 0.1);
                    text-align: center;
                    border-radius: 50%;
                    background-size: 90%;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.first {
                        background-image: url(../../images/technology/plan/01.png);
                        &:hover {
                            background-image: url(../../images/technology/plan/08.png)
                        }
                    }
                    &.two {
                        background-image: url(../../images/technology/plan/06.png);
                        &:hover {
                            background-image: url(../../images/technology/plan/03.png);
                        }
                    }
                    &.three {
                        background-image: url(../../images/technology/plan/07.png);
                        &:hover {
                            background-image: url(../../images/technology/plan/04.png);
                        }
                    }
                    &.firs {
                        background-image: url(../../images/technology/plan/05.png);
                        &:hover {
                            background-image: url(../../images/technology/plan/02.png);
                        }
                    }
                }
                .thinking_con_font {
                    width: 2.4rem;
                    height: 100%;
                    display: inline-block;
                    margin-left: 0.07rem;
                    vertical-align: top;
                    padding-top: 0.1rem;
                    h5 {
                        font-size: 0.16rem;
                        color: #333333;
                        margin-bottom: 0.14rem;
                        font-weight: bold;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #7b7b7b;
                        display: block;
                    }
                }
            }
        }
    }
    .serve_con_right_con_kind {
        .serve_con_kind_title {
            img {
                width: 3.25rem;
            }
        }
        .purpose_list {
            font-size: 0;
            padding-left: 0.17rem;
            li {
                margin-left: 0.38rem;
                width: 2.1rem;
                height: 100%;
                text-align: center;
                display: inline-block;
                &.margin_none {
                    margin: 0;
                }
                img {
                    width: 1rem;
                    height: 1rem;
                    margin-bottom: 0.25rem;
                }
                .purpose_list_con {
                    width: 100%;
                    h5 {
                        font-size: 0.18rem;
                        color: #000000;
                        //                      margin-bottom:0.1rem;
                    }
                    span {
                        width: 0.4rem;
                        height: 3px;
                        background-color: #4192ed;
                        display: inline-block;
                        margin: 0 auto;
                        //                      margin-bottom:0.1rem;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #999999;
                    }
                }
            }
        }
    }
    .serve_con_right_con_ui {
        .serve_con_ui_title {
            img {
                width: 2.04rem;
            }
        }
        .ui_only {
            font-size: 0;
            li {
                width: 3.68rem;
                height: 1.03rem;
                margin-bottom: 0.43rem;
                display: inline-block;
                padding-left: 0.98rem;
                padding-top: 0.25rem;
                background-size: 95% 100%;
                background-repeat: no-repeat;
                p {
                    font-size: 0.2rem;
                    color: #333;
                    span {
                        font-size: 0.2rem;
                        color: #666666;
                    }
                }
                span {
                    font-size: 0.14rem;
                    color: #999999;
                }
                &.book {
                    background-image: url(../../images/technology/ui/11.png);
                }
                &.paper {
                    background-image: url(../../images/technology/ui/22.png)
                }
                &.icon {
                    background-image: url(../../images/technology/ui/44.png)
                }
                &.web {
                    background-image: url(../../images/technology/ui/33.png)
                }
            }
        }
    }
    .serve_con_right_con_appui {
        .serve_con_appui_title {
            img {
                width: 2.03rem;
                height: 0.54rem;
            }
        }
        .app_content {
            font-size: 0;
            padding-left: 0.3rem;
            li {
                width: 1.7rem;
                height: 3.44rem;
                display: inline-block;
                background-image: url(../../images/technology/ui/ss.png);
                background-size: 100%;
                padding-top: 0.4rem;
                padding-left: 0.08rem;
                background-repeat: no-repeat;
                margin-left: 0.8rem;
                &.margin_none {
                    margin: 0
                }
                img {
                    width: 1.55rem;
                    height: 2.67rem;
                }
            }
        }
    }
    .serve_con_right_con_webui {
        .serve_con_webui_title {
            img {
                width: 2.04rem;
                height: 0.54rem;
            }
        }
        .web_tem {
            width: 100%;
            height: 3.12rem;
            background-repeat: no-repeat;
            background-image: url(../../images/technology/ui/6.png);
            background-size: 95% 100%;
            background-position: center;
            position: relative;
            .web_tem_font {
                width: 3.69rem;
                height: 1.78rem;
                position: absolute;
                top: 1.06rem;
                left: 0;
                text-align: center;
                p {
                    font-size: 0.36rem;
                    color: #000000;
                    letter-spacing: 14px;
                    margin-left: 0.1rem;
                }
                span {
                    color: #000000;
                    font-size: 0.22rem;
                }
            }
        }
    }
    .serve_con_right_con_wx {
        .serve_con_wx_title {
            margin: 0;
            img {
                width: 2.02rem;
            }
        }
        .wx_ui {
            width: 100%;
            height: 4.38rem;
            img {
                width: 100%;
            }
            background-image: url(../../images/technology/ui/7.png);
            background-repeat: no-repeat;
            background-size:95%;
            background-position:center;
        }
    }
}

@keyframes todown {
    from {
        transform: translateX(-500px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes rotate {
    form {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes toup_down {
    from {
        transform: translateY(-500px)
    }
    to {
        transform: translateY(0)
    }
}